<!-- ユーザーの詳細 -->
<div>
  <h3><%= @customer.name %></h3>
  <% if @customer.id == current_customer.id %>
  <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p>
  <% end %>
</div>

<div><%= link_to "いいねした投稿", likes_customer_path(@customer) %></div>

<!-- ユーザーの投稿一覧 -->
<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
    <% end %>
    <p>説明：<%= post.introduction %></p>
    <p>ユーザーネーム：<%= post.customer.name %></p>
    <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>  </div>
<% end %>