<div class="container">
  <h2 class="head-line title_h2 text-center admin_post_index">商品一覧(全<%= @posts.total_count %>件)</h2>
  <div class="row">
    <h2>ジャンル検索</h2>



<%= form_tag(posts_path, method: :get, class: 'boards__searchForm') do %>
  <%= select_tag :genre_id, options_for_select([["全てのジャンル", ""]] + @genres.map { |genre| [genre.name, genre.id] }, params[:genre_id]), include_blank: "全てのジャンル" %>
  <%= submit_tag "検索" %>
<% end %>

    <div class="row justify-content-center">
    <% @posts.each do |post| %>
        <%# post_group.each do |post| %>
         <div class="col-md-3 mb-4">
            <div class="card">
              <% if post.image.attached? %>
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image, class: "card-img-top", style: "height: 200px; object-fit: cover;", fallback: "no-image.png" %>
                <% end %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= post.name %></h5>
                <p class="card-text"><%= number_to_currency(post.price, unit: "¥", precision: 0) %></p>
                <p class="card-text"><%#= post.genre.name %></p>
                <p>
                  <%= link_to "#{post.comments.count} コメント", post_path(post.id) %>
                </p>
                <p>
                  <% if post.favorited_by?(current_customer) %>
                    <%= link_to post_favorites_path(post), method: :delete do %>
                      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                      <%= post.favorites.count %> いいね
                    <% end %>
                  <% else %>
                    <%= link_to post_favorites_path(post), method: :post do %>
                      <i class="fas fa-heart" aria-hidden="true"></i>
                      <%= post.favorites.count %> いいね
                    <% end %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
            <% end %>
      </div>
  </div>
  <%= paginate @posts %>
</div>