<h1>新規投稿</h1>

<%= form_with model: @post, class: "form-horizontal" do |f| %>
  <div class="form-group">
    <%= f.label :タイトル, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :画像, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.file_field :image, class: "form-control-file" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :スタンプ説明, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :introduction, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :genre_id, "ジャンル", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: "選択してください" }, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :価格, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :price, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :販売元リンク, class: "col-sm-12 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :seller_url, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit '投稿', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>